<div class="row">
  <div *ngFor="let niveau of levels">
    <div class="three columns">
      <input value="{{niveau.name}}">
      <button class="button">Selecteer</button>
      <cdk-virtual-scroll-viewport itemSize="{{niveau.variables.length}}" class="example-viewport">
        <div *cdkVirtualFor="let variable of niveau.variables">
          <div class="two columns">
            <div>{{variable}}</div>
          </div>
          <div class="two columns">
            <input type="checkbox" (change)="filterOnChange(niveau.name, variable,$event.target.checked)">
          </div>
          <div class=" row">
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
<table>
  <tr>
    <th *ngFor="let column of columns">
      {{column}}
    </th>
  </tr>
  <tr *ngFor="let row of rows ; index as i">
    <td *ngFor="let rowCell of row[0] " >
      {{rowCell}}
    </td>
  </tr>
</table>

<table>
  <tr>
    <th>
      Property
    </th>
  </tr>
  <tr *ngFor="let property of properties">
    <td>
      <div class="two columns">
        <div>  {{property.PropertyExtractionScript}}</div>
      </div>
      <div class="two columns">
        <input type="checkbox" (change)="desiredPropertyOnChange(property ,$event.target.checked)">
      </div>
    </td>
  </tr>
</table>
<img src=" https:
    //img.memecdn.com/Example-of-a-Risk_o_144298.jpg" alt="">

<div class="row">
  <div class="one column">
    <button mat-button [routerLink]="['']">Terug</button>
  </div>

  <div class="two columns">
    <input type="file" #fileUpload id="file" name="file" (click)="onClick()">
  </div>
  <div class="two columns">
    <button mat-button (click)="executeScripts()">Visualize property</button>
  </div>
</div>






